.about-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    flex-direction: column;
    color: aliceblue;
    p{
        color: black;
        font-size: 1.4rem;

    }
}
.about-container h2 , h3{
    color: #6a4cfc;
    text-align: center;
}

ul{
    list-style: none;
    list-style-type: decimal;
    color: black;
}