body {
  background-color: #f0f8ff;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  min-height: 100vh;
}

.blog-detail-container {
  max-width: 900px;
  margin-top: 100px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.blog-detail-container img {
  max-width: 30%;
  height: 50%;
  display: block;
  margin: 0 auto 20px auto;
  border-radius: 10px;
}

.blog-detail-container h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  text-align: center;
}

.blog-detail-container p {
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: justify;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

@media (max-width: 600px) {
  .blog-detail-container {
    padding: 10px;
    margin: 10px;
  }

  .blog-detail-container h2 {
    font-size: 1.5rem;
  }
}
